<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Formulario</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
  
  <h2>Formulario Angular</h2>

  <form ng-submit="submitForm()">
    <label>Nombre:</label>
    <input type="text" ng-model="formData.nombre" required><br><br>
    
    <label>Email:</label>
    <input type="email" ng-model="formData.email" required><br><br>
    
    <label>Contraseña:</label>
    <input type="password" ng-model="formData.password" required><br><br>
    
    <button type="submit">Enviar</button>
  </form>

  <h2>Lista de Datos</h2>
  <ul>
    <li ng-repeat="data in dataList">
      {{data.nombre}} - {{data.email}}
      <button ng-click="eliminar(data)">Eliminar</button>
    </li>
  </ul>

  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.dataList = [];

      $scope.submitForm = function() {
        $scope.dataList.push({ 
          nombre: $scope.formData.nombre, 
          email: $scope.formData.email,
          password: $scope.formData.password
        });
        $scope.formData = {}; // Limpiar el formulario después de enviar
      };

      $scope.eliminar = function(data) {
        var index = $scope.dataList.indexOf(data);
        $scope.dataList.splice(index, 1);
      };
    });
  </script>

</body>
</html>
